# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv
venv/
ENV/
env/
build/
dist/
*.egg-info/
.ipynb_checkpoints/

# VSCode
.vscode/
preprocessed_data
# Data & Checkpoints
preprocessed_data/train/
preprocessed_data/
runs/
*.npy
*.pt
*.pth
*.ckpt
*.log
*.npy
*.npz
*.csv
*.mp4

# OS
.DS_Store
Thumbs.db